.navigation-bar {
  background-color: #012928ff;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  padding: 0 60px 0 60px;
  color: #fff;
  font-size: small;
  /* position: sticky; */
  top: 0;
}

.responsive-menu{
  display: none;
}

.nav-right {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.logoName {
  text-decoration: none;
  color: #e7ab95;
}

.overall-homepage-body {
  display: flex;
  align-items: center;
  background-color: #013d3bff;
}

.wrap-text {
  margin-left: 10px;
}

.jumbo-text-section {
  color: #b1c9ad;
  width: 50%;
  margin-left: 50px;
}

.main-text {
  font-size: 75px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-shadow: -1px 0 #eb6636, 0 1px #eb6636, 1px 0 #eb6636, 0 -1px #eb6636;
}

.brbr {
  display: none;
}

p {
  margin-bottom: 30px;
}

.search-bar-input {
  width: 95%;
  height: 60px;
  border-radius: 10px;
  border: none;
  padding-left: 20px;
  background-color: #fff;
  color: #000;
  font-size: 15px;
}

.search-bar-input:hover {
  background-color: rgb(230, 240, 232);
  color: #000;
  font-size: 15px;
}

.searchIcon {
  height: 25px;
  width: 25px;
  margin-right: 20px;
  margin-left: 10px;
}

input:focus {
  outline: none;
}

.link-more {
  text-decoration: none;
}

.searchSubmit {
  background-color: #022725;
  height: 50px;
  width: 100px;
  color: #b1c9ad;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.searchSubmit:hover {
  background-color: #e9754b;
}

/* Images */

.jumbo-images-section {
  display: flex;
  row-gap: 20px;
  column-gap: 20px;
  width: 35%;
  width: 200px;
  margin: 13vh 0 0 80px;
  height: 80vh;
}

.image1 {
  margin: 40px 0 20px 0;
  height: 40vh;
  width: 16.1vw;
  border-radius: 10px;
}

.image1 img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.image2 {
  height: 17vh;
  width: 11.5vw;
  margin-right: 4.6vw;
  margin-bottom: 20px;
  border-radius: 10px;
}

.image2 img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.image3 {
  height: 17vh;
  width: 11.5vw;
  margin-left: 4.6vw;
  border-radius: 10px;
}

.image3 img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.image4 {
  height: 55vh;
  width: 16.1vw;
  border-radius: 10px;
}

.image4 img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

/* This is the color pallete I found. Open to changes, obviously. */
.color-pallete {
  background-color: #013d3bff;
  background-color: #1b8a83ff;
  background-color: #01534fff;
  background-color: #012322ff;
  background-color: #012928ff;
}

/* Responsiveness */

@media only screen and (max-width: 768px) {

  .responsive-menu{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-right: -30px;
  }

  .responsive-menu:hover{
    color: #eb6636;
  }

  .resp-menu{
    background-color: white;
    height: 1px;
    width: 20px;
  }
  
  .overall-homepage-section {
    width: 100%;
    background-color: #013d3bff;
    padding-bottom: 300px;
    max-height: 100vh;
    overflow-y: hidden;
  }

  .navigation-bar {
    padding-left: 20px;
  }

  .navigation-bar h2 {
    font-size: 15px;
  }

  .hamburger-text {
    display: none;
  }

  .overall-homepage-body {
    flex-direction: column-reverse;
    text-align: center;
    bottom: 0;
  }

  .jumbo-text-section {
    width: 92%;
    padding-top: 35px;
    align-items: center;
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-left: 0;
    background-color: #012928ff;
    padding-bottom: 70px;
  }

  .main-text {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 0px;
  }

  .search-span {
    color: #eb6636;
  }

  p {
    margin-bottom: 41px;
  }

  .search-bar-input {
    width: 90%;
    height: 50px;
  }

  .searchSubmit {
    margin: auto;
    width: 90%;
    margin-top: 10px;
    background-color: #eb6636;
    color: #012928ff;
    font-weight: bolder;
  }

  .jumbo-images-section {
    justify-content: center;
    margin: auto;
    height: 400px;
    width: 60%;

  }

  .jumbo-left-images {
    display: none;
  }

  .image1 {
    display: none;
  }

  .image2 {
    display: none;
  }

  .image3 {
    display: none;
  }

  .image4 {
    margin-top: 100px;
    height: inherit;
    width: 100%;
  }

  .overall-homepage-body {
    bottom: 0;
    position: fixed;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }

  .responsive-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    /* background-color: rgba(161, 84, 84, 0.7); */
    background-color: rgb(235, 102, 54, 0.7);
    /* padding: auto; */
    box-sizing: border-box;
    overflow-y: scroll; 
    z-index: 1;
    text-align: center;
    padding-top: 30%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
    font-size: 25px;
    line-height: 50px;
    margin-top: 3rem;
  }

  .navigation-bar {
    z-index: 1;
  }
}
