.navigation-bar {
  background-color: #012928ff;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  padding: 0 60px 0 60px;
  color: #fff;
  font-size: small;
  position: sticky;
  top: 0;
}

.nav-right {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.overall-homepage-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wrap-text {
  margin-left: 10px;
}

.jumbo-text-section {
  color: #b1c9ad;
  width: 50vw;
  margin-left: 2vw;
}

.main-text {
  font-size: 75px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.brbr {
  display: none;
}

p {
  margin-bottom: 30px;
}

.search-bar {
  width: 50vw;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: #022725;
  opacity: 0.3;
  padding-left: 20px;
  /* color: red; */
  display: flex;
  justify-content: end;
  align-items: center;
}

.search-bar:hover {
  scale: 1.005;
  /* background-color: #022c2a; */
  background-color: white;
  /* background-color: #0b4946; */
}

.searchIcon {
  height: 35px;
  width: 35px;
  margin-right: 20px;
}

input:focus {
  outline: none;
  color: rgb(255, 255, 255);
  font-size: medium;
}

.searchSubmit{
  background-color: #022725;
  border: none;
  height: 60px;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* Images */

.jumbo-images-section {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  width: 35vw;
  margin: 13vh 0 0 0;
  height: 80vh;
}

.image1 {
  margin-top: 40px;
  height: 40vh;
  width: 16.1vw;
  border-radius: 10px;
}

.image1 img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.image2 {
  height: 17vh;
  width: 11.5vw;
  padding-right: 4.6vw;
  border-radius: 10px;
}

.image2 img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.image3 {
  height: 17vh;
  width: 11.5vw;
  padding-left: 4.6vw;
  border-radius: 10px;
  margin-top: -40px;
}

.image3 img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.image4 {
  /* margin-top: -240px; */
  margin-top: -36vh;
  height: 55vh;
  width: 16.1vw;
  border-radius: 10px;
}

.image4 img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

/* This is the color pallete I found. Open to changes, obviously. */
.color-pallete {
  background-color: #013d3bff;
  background-color: #1b8a83ff;
  background-color: #01534fff;
  background-color: #012322ff;
  background-color: #012928ff;
}

/* Responsiveness */

@media only screen and (max-width: 768px) {
  .overall-homepage-section {
    width: 100vw;
    height: 100vh;
  }

  .navigation-bar {
    padding: 0 10px 0 10px;
    position: -webkit-sticky;
    top: 0;
  }

  .navigation-bar h2 {
    font-size: 15px;
  }

  .nav-right {
    display: none;
  }

  .overall-homepage-body {
    display: block;
  }

  .jumbo-text-section {
    width: 100vw;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
    margin-left: 0;
  }

  .main-text {
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 0px;
  }

  .brbr {
    display: block;
  }

  p {
    margin-bottom: 40px;
  }

  .search-bar {
    width: 80vw;
  }

  .jumbo-images-section {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 20px;
    height: 34vh;
  }

  .image1 {
    display: none;
  }

  .image2 {
    display: none;
  }

  .image3 {
    display: none;
  }

  .image4 {
    margin-top: inherit;
    height: inherit;
    width: 200px;
  }
}
