
.navigation-bar {
    background-color: #012928ff;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
    /* padding: 0 60px 0 60px; */
    color: #fff;
    font-size: small;
    position: sticky;
    top: 0;
    padding: 0 36px 0 36px;

  }
}

@media only screen and (max-width: 768px) {
  .books-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 665px) {
  .navigation-bar {
    padding: 0 15px 0 15px;
  }
  .books-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 0 40px 0;
  }

  .books {
    width: 163px;
    height: 17rem;
  }

  .books img {
    width: 115px;
  }
}
